/* Light Theme */

.theme-light {
  --accent-color: #0070f7;
  --menu-color: #eee;
  background-color: #fff;
  color: #333;
}

.theme-light input, .theme-light select, .theme-light button {
  background-color: #f2f2f2;
  color: #333;
}

.theme-light #modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.theme-light #modal-content {
  background-color: #fff;
}

/* Dark Theme */

.theme-dark {
  --accent-color: #008cff;
  --menu-color: #222;
  background-color: #000;
  color: #d5d5d5;
}

.theme-dark input, .theme-dark select, .theme-dark button {
  background-color: #3b3b3b;
  color: #d5d5d5;
}

.theme-dark #modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.theme-dark #modal-content {
  background-color: #111;
}

/* Print Styles */

@media print {
  body {
    background-color: #fff;
  }

  #menu {
    visibility: hidden;
  }

  div.section-links {
    visibility: hidden;
  }
}

/* Modal Styles */

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#modal-content {
  border: 1px solid #888;
  border-radius: 8px;
  margin: 10% auto;
  padding: 20px;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

#modal-buttons {
  justify-self: right;
  margin-top: 8px;
}

#modal-buttons>button {
  margin-right: 0;
  margin-left: 12px;
}

#modal-input {
  width: 100%;
  min-width: 256px;
  margin: 2px 8px 12px 8px;
}

#modal-colour {
  width: 100%;
  margin: 2px 8px 12px 8px;
  padding: 0;
  border-radius: 2px;
}

#modal-list {
  border-width: 1px;
  margin: 2px 8px 12px 8px;
  width: 100%;
  min-width: 160px;
  min-height: 96px;
  max-height: 33vh;
  display: grid;
  gap: 4px;
  grid-auto-flow: row;
  justify-items: left;
  overflow-y: scroll;
  overflow-x: hidden;
}

#modal-list>button {
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0 0 0 54px;
  text-align: left;
  border: 0;
  border-radius: 4px;
  vertical-align: middle;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center left 8px;
  font-weight: normal;
}

#modal-list>button:hover {
  background-color: rgba(0, 128, 256, 0.2);
}

#modal-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Common Styles */

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: var(--accent-color);
}

html {
  font-family: Arial;
  font-size: 16px;
}

body {
  margin: 8px 8px 32px 8px;
}

h1 {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--accent-color);
}

h2 {
  margin: 0;
  font-size: 18px;
}

h3 {
  margin: 10px 0 2px 0;
  font-size: 16px;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
}

p {
  margin-top: 0;
  margin-bottom: 12px;
}

button {
  border-radius: 4px;
  border-color: #ccc;
  border-width: 1px;
  margin: 2px 8px;
  padding: 6px 8px;
  font-weight: bold;
  cursor: pointer;
  min-width: 64px;
}

button>img {
  padding-right: 8px;
  vertical-align: middle;
}

a.skip-link {
  position: absolute;
  top: -128px;
  left: 0;
  padding: 8px;
  z-index: 4;
}

a.skip-link:link, a.skip-link:visited, a.skip-link:hover, a.skip-link:active {
  background: #000;
  color: #fff;
}

a.skip-link:focus {
  top: 0;
}

#menu {
  background: var(--menu-color);
  border-bottom: 0.5px solid #888;
  border-left: 0.5px solid #888;
  padding: 4px;
  top: 0;
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 2;
  line-height: 16px;
  transform: translateZ(0);
}

a.home-link {
  background: url(/media/sprites.svg#home) center left no-repeat;
  background-size: 16px;
  padding-left: 20px;
  margin: 0 2px;
}

.new::after {
  content: "";
  background: url(/media/sprites.svg#new) center right no-repeat;
  background-size: 9px;
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: top;
  padding-left: 4px;
}

input[type=range] {
  /* Not a universally supported style */
  accent-color: var(--accent-color);
}

/* Checkboxes */

input[type=checkbox] {
  appearance: none;
  width: 14px;
  height: 14px;
  margin: 3px 5px 2px 1px;
  padding: 0;
  background: none;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  vertical-align: text-bottom;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #e60000;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}

input[type='checkbox']:disabled {
  background-color: #888;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: default;
}