/* Print Styles */

@media print {
  #image-controls {
    visibility: hidden;
  }
}

/* Common Styles */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
  position: relative;
  overflow: hidden;
}

h1 {
  display: none;
}

svg {
  display: none;
  position: absolute;
}

.download-link {
  display: none;
}

.edit-mode a {
  cursor: default;
}

.draw-mode path.m365maps-draw {
  cursor: grab;
}

.text-mode text.m365maps-text {
  cursor: grab;
}

.scrolling, .scrolling a, .scrolling.edit-mode a, .scrolling button, .scrolling input {
  cursor: all-scroll!important;
}

.moving, .moving a, .moving.edit-mode a, .moving button, .moving input, .moving text.m365maps-text, .moving path.m365maps-draw {
  cursor: grabbing!important;
}

.drawing, .drawing a, .drawing.edit-mode a, .drawing button, .drawing input, .drawing path.m365maps-draw {
  cursor: crosshair!important;
}

.rotating, .rotating a, .rotating.edit-mode a, .rotating button, .rotating input, .rotating text.m365maps-text {
  cursor: grabbing!important;
}

.resizing, .resizing a, .resizing.edit-mode a, .resizing button, .resizing input, .resizing text.m365maps-text {
  cursor: ns-resize!important;
}

.erasing, .erasing a, .erasing.edit-mode a, .erasing button, .erasing input, .erasing path.m365maps-draw, .erasing text.m365maps-text {
  cursor: pointer!important;
}

.moving #menu-text, .moving #menu-draw {
  background: url(/media/sprites.svg#move) center left no-repeat;
}

.rotating #menu-text {
  background: url(/media/sprites.svg#rotate) center left no-repeat;
}

.resizing #menu-text {
  background: url(/media/sprites.svg#resize) center left no-repeat;
}

.erasing #menu-highlight, .erasing #menu-draw, .erasing #menu-text {
  background: url(/media/sprites.svg#erase) center left no-repeat;
}

/* Menu */

#menu {
  right: -500px;
  min-width: 300px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu>button {
  margin: 0;
  border: 0;
  border-radius: 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
  color: #0070F7;
  font-weight: normal;
}

@keyframes grip-open {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
}

@keyframes grip-close {
  from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}

#menu-grip {
  background: url(/media/sprites.svg#grip) center left no-repeat;
  background-size: 16px;
}

#menu-grip.open {
  animation: 0.4s linear 0.3s 1 normal forwards running grip-open;
  transform: scaleX(1);
}

#menu-grip.close {
  animation: 0.4s linear 0.3s 1 normal forwards running grip-close;
  transform: scaleX(-1);
}

#menu-back {
  background: url(/media/sprites.svg#back) center left no-repeat;
}

#menu-flag.flagged {
  background: url(/media/sprites.svg#flagged) center left no-repeat;
}

#menu-flag.unflagged {
  background: url(/media/sprites.svg#unflagged) center left no-repeat;
}

#menu-print {
  background: url(/media/sprites.svg#print) center left no-repeat;
}

#menu-save {
  background: url(/media/sprites.svg#save) center left no-repeat;
}

#menu-save.changes {
  background: url(/media/sprites.svg#save-changes) center left no-repeat;
}

#menu-edit {
  background: url(/media/sprites.svg#edit) center left no-repeat;
}

#menu-highlight {
  background: url(/media/sprites.svg#highlight) center left no-repeat;
}

#menu-draw {
  background: url(/media/sprites.svg#draw) center left no-repeat;
}

#menu-text {
  background: url(/media/sprites.svg#text) center left no-repeat;
}

#menu-controls {
  background: url(/media/sprites.svg#controls) center left no-repeat;
}

#menu-export-svg, #menu-export-png {
  background: url(/media/sprites.svg#export) center left no-repeat;
  padding: 1px 2px 1px 18px;
  width: 48px!important;
  height: 16px;
}

#menu-download-pdf, #menu-download-png {
  background: url(/media/sprites.svg#download) center left no-repeat;
  padding: 1px 2px 1px 18px;
  width: 48px!important;
  height: 16px;
}

/* Image Controls */

#image-controls {
  top: -300px;
  background: #CCC;
  padding: 8px;
  right: 0;
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 1;
  line-height: 16px;
  transform: translateZ(0);
  transition: 0.5s;
  width: 220px;
  color: #0070F7;
  text-align: center;
}

#image-controls>label {
  float: left;
  line-height: 24px;
  margin: 2px;
}

#image-controls>input {
  float: right;
  clear: right;
  height: 24px;
}

#image-controls>button {
  margin-top: 8px;
  padding: 6px 8px 6px 32px;
  float: none;
}

#image-controls-reset {
  background-image: url(/media/sprites.svg#defaults);
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

#image-controls-save {
  background-image: url(/media/sprites.svg#save);
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}