/* Print Styles */

@media print {
  #edit-controls {
    visibility: hidden;
  }

  #image-controls {
    visibility: hidden;
  }

  svg {
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}

/* Common Styles */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
  position: relative;
  overflow: hidden;
}

h1 {
  display: none;
}

svg {
  display: none;
  position: absolute;
}

#file-selector {
  display: none;
}

.download-link {
  display: none;
}

.edit-mode a {
  cursor: default;
}

.draw-mode path.m365maps-draw {
  cursor: grab;
}

.text-mode text.m365maps-text {
  cursor: grab;
}

.scrolling, .scrolling a, .scrolling.edit-mode a, .scrolling button, .scrolling input {
  cursor: all-scroll !important;
}

.moving, .moving a, .moving.edit-mode a, .moving button, .moving input, .moving text.m365maps-text, .moving path.m365maps-draw {
  cursor: grabbing !important;
}

.drawing, .drawing a, .drawing.edit-mode a, .drawing button, .drawing input, .drawing path.m365maps-draw {
  cursor: crosshair !important;
}

.rotating, .rotating a, .rotating.edit-mode a, .rotating button, .rotating input, .rotating text.m365maps-text {
  cursor: grabbing !important;
}

.resizing, .resizing a, .resizing.edit-mode a, .resizing button, .resizing input, .resizing text.m365maps-text {
  cursor: ns-resize !important;
}

.erasing, .erasing a, .erasing.edit-mode a, .erasing button, .erasing input, .erasing path.m365maps-draw, .erasing text.m365maps-text {
  cursor: pointer !important;
}

.moving #menu-edit {
  background: url(/media/sprites.svg#move) center left no-repeat;
  background-size: 16px;
}

.rotating #menu-edit {
  background: url(/media/sprites.svg#rotate) center left no-repeat;
  background-size: 16px;
}

.resizing #menu-edit {
  background: url(/media/sprites.svg#resize) center left no-repeat;
  background-size: 16px;
}

.erasing #menu-edit {
  background: url(/media/sprites.svg#erase) center left no-repeat;
  background-size: 16px;
}

/* Menu */

#menu {
  right: -500px;
  width: min-content;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 14px;
}

#menu>button {
  margin: 0;
  border: 0;
  border-radius: 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
  color: var(--accent-color);
  font-weight: normal;
}

#menu>button.active {
  filter: hue-rotate(45deg);
}

@keyframes grip-open {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-1);
  }
}

@keyframes grip-close {
  from {
    transform: scaleX(-1);
  }

  to {
    transform: scaleX(1);
  }
}

#menu-grip {
  background: url(/media/sprites.svg#grip) center left no-repeat;
  background-size: 16px;
}

#menu-grip.open {
  animation: 0.4s linear 0.3s 1 normal forwards running grip-open;
  transform: scaleX(1);
}

#menu-grip.close {
  animation: 0.4s linear 0.3s 1 normal forwards running grip-close;
  transform: scaleX(-1);
}

#menu-back {
  background: url(/media/sprites.svg#back) center left no-repeat;
  background-size: 16px;
}

#menu-flag.flagged {
  background: url(/media/sprites.svg#flagged) center left no-repeat;
  background-size: 16px;
}

#menu-flag.unflagged {
  background: url(/media/sprites.svg#unflagged) center left no-repeat;
  background-size: 16px;
}

#menu-save {
  background: url(/media/sprites.svg#save) center left no-repeat;
  background-size: 16px;
}

#menu-edit {
  background: url(/media/sprites.svg#edit) center left no-repeat;
  background-size: 16px;
}

#menu-controls {
  background: url(/media/sprites.svg#controls) center left no-repeat;
  background-size: 16px;
}

#menu-export-svg, #menu-export-png {
  background: url(/media/sprites.svg#export) center left no-repeat;
  background-size: 16px;
  padding: 1px 2px 1px 18px;
  width: 50px !important;
}

#menu-download-pdf, #menu-download-png {
  background: url(/media/sprites.svg#download) center left no-repeat;
  background-size: 16px;
  padding: 1px 2px 1px 18px;
  width: 50px !important;
}

/* Edit Controls */

#edit-controls {
  top: -300px;
  background: var(--menu-color);
  border-bottom: 0.5px solid #888;
  border-left: 0.5px solid #888;
  padding: 8px;
  right: 0;
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 1;
  transform: translateZ(0);
  transition: 0.5s;
  min-width: 138px;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
}

#edit-controls>button {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--accent-color);
  font-weight: normal;
  padding-left: 40px;
  text-align: left;
  height: 32px;
}

#edit-controls>button:not(.active) {
  filter: saturate(0);
}

#edit-controls>button.active {
  border: 1px solid var(--accent-color);
}

#menu-highlight {
  background: url(/media/sprites.svg#highlight) center left 8px no-repeat;
  background-size: 18px;
}

#menu-draw {
  background: url(/media/sprites.svg#draw) center left 8px no-repeat;
  background-size: 18px;
}

#menu-text {
  background: url(/media/sprites.svg#text) center left 8px no-repeat;
  background-size: 18px;
}

#menu-image {
  background: url(/media/sprites.svg#image) center left 8px no-repeat;
  background-size: 18px;
}

#menu-link {
  background: url(/media/sprites.svg#link) center left 8px no-repeat;
  background-size: 18px;
}

#menu-notes {
  background: url(/media/sprites.svg#notes) center left 8px no-repeat;
  background-size: 18px;
}

/* Image Controls */

#image-controls {
  top: -300px;
  background: var(--menu-color);
  border-bottom: 0.5px solid #888;
  border-left: 0.5px solid #888;
  padding: 8px;
  right: 0;
  border-bottom-left-radius: 8px;
  position: fixed;
  z-index: 1;
  line-height: 16px;
  transform: translateZ(0);
  transition: 0.5s;
  width: min-content;
  color: var(--accent-color);
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px 8px;
}

#image-controls>label {
  grid-row: auto;
  grid-column: 1;
}

#image-controls>input {
  grid-row: auto;
  grid-column: 2;
}

#image-controls-buttons {
  margin-top: 4px;
  grid-row: auto;
  grid-column: span 2;
  justify-self: right;
}

#image-controls-buttons>button {
  margin: 0 0 0 8px;
  padding: 8px 8px 6px 32px;
}

#image-controls-reset {
  background-image: url(/media/sprites.svg#defaults);
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}

#image-controls-save {
  background-image: url(/media/sprites.svg#save);
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 18px;
}